<html>
    <head>
        <title><%=title %></title>

        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>

    <body>

    <%- partial("_partials/_header") %>

    <div>
        <%- yield %>
    </div>

    <%- partial("_partials/_footer") %>

    </body>

</html>