<h1>Welcome to Harp.</h1>
<h3>This is yours to own. Enjoy.</h3>

<ul class="blog-list">
    <%  var blogs = public._data;
        for (var blog in blogs) { %>
        <li>
            <a href="<%= blog %>"><%= blogs[blog].title %></a>
        </li>
    <% } %>
</ul>